# This configuration file enables Dependabot version updates.
# https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/about-dependabot-version-updates
# https://github.com/dependabot/feedback/issues/551

version: 2
updates:
- package-ecosystem: pip
  directory: /
  schedule:
    interval: weekly
  commit-message:
    prefix: chore
    prefix-development: chore
    include: scope
  open-pull-requests-limit: 13
  target-branch: staging
  reviewers:
  - jenstroeger
  - behnazh

- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: weekly
  commit-message:
    prefix: chore
    prefix-development: chore
    include: scope
  open-pull-requests-limit: 13
  target-branch: staging
  reviewers:
  - jenstroeger
  - behnazh
