# Unfortunately, flake8 does not support pyproject.toml configuration.
# https://github.com/PyCQA/flake8/issues/234
#
# Disabling the following noise:
# D105: Missing docstring in magic method
# E501: line too long, managed better by Bugbear's B950
[flake8]
ignore = D105, E501
per-file-ignores =
max-line-length = 120
show-source = true

# Enable Bugbear's extended opinionated checks.
# https://github.com/PyCQA/flake8-bugbear#how-to-enable-opinionated-warnings
extend-select = B9

# Ensure that flake8 warnings are silenced correctly.
# https://github.com/plinss/flake8-noqa#options
noqa-require-code = true
