# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: [pre-commit, commit-msg, pre-push]
default_stages: [pre-commit]
minimum_pre_commit_version: 4.0.0
exclude: ^.vscode/

repos:

# These meta hooks check the pre-commit configuration itself.
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

# Commitizen enforces semantic and conventional commit messages.
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.31.0
  hooks:
  - id: commitizen
    name: Check conventional commit message
    stages: [commit-msg]

# Sort imports.
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
    name: Sort import statements
    args: [--settings-path, pyproject.toml]

# Add Black code formatters.
- repo: https://github.com/ambv/black
  rev: 24.10.0
  hooks:
  - id: black
    name: Format code
    args: [--config, pyproject.toml]
- repo: https://github.com/asottile/blacken-docs
  rev: 1.19.1
  hooks:
  - id: blacken-docs
    name: Format code in docstrings
    args: [--line-length, '120']
    additional_dependencies: [black==24.10.0]

# Upgrade and rewrite Python idioms.
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.0
  hooks:
  - id: pyupgrade
    name: Upgrade code idioms
    files: ^src/package/|^tests/
    args: [--py310-plus]

# Similar to pylint, with a few more/different checks. For more available
# extensions: https://github.com/DmytroLitvinov/awesome-flake8-extensions
- repo: https://github.com/pycqa/flake8
  rev: 7.1.1
  hooks:
  - id: flake8
    name: Check flake8 issues
    files: ^src/package/|^tests/
    types: [text, python]
    additional_dependencies: [flake8-bugbear==24.10.31, flake8-builtins==2.5.0, flake8-comprehensions==3.16.0, flake8-docstrings==1.7.0, flake8-logging==1.7.0, flake8-mutable==1.2.0, flake8-noqa==1.4.0, flake8-print==5.0.0, flake8-pyi==24.9.0, flake8-pytest-style==2.0.0, flake8-rst-docstrings==0.3.0, pep8-naming==0.14.1]
    args: [--config, .flake8]

# Run Pylint from the local repo to make sure venv packages
# specified in pyproject.toml are available.
- repo: local
  hooks:
  - id: pylint
    name: Check pylint issues
    entry: pylint
    language: python
    files: ^src/package/|^tests/
    types: [text, python]
    args: [--rcfile, pyproject.toml]

# Type-check all Python code.
- repo: local
  hooks:
  - id: mypy
    name: Check typing annotations
    entry: mypy
    language: python
    files: ^src/package/|^tests/
    types: [text, python]
    args: [--config-file, pyproject.toml]

# Check for potential security issues.
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.10
  hooks:
  - id: bandit
    name: Check for security issues
    args: [--configfile, pyproject.toml]
    files: ^src/package/|^tests/
    types: [text, python]
    additional_dependencies: ['bandit[toml]']

# Enable a whole bunch of useful helper hooks, too.
# See https://pre-commit.com/hooks.html for more hooks.
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-added-large-files
    stages: [pre-commit]
    args: [--maxkb=500]
  - id: debug-statements
  - id: end-of-file-fixer
    stages: [pre-commit]
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
    stages: [pre-commit]
  - id: detect-private-key
  - id: detect-aws-credentials
    args: [--allow-missing-credentials]
  - id: check-yaml
  - id: check-toml
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
  - id: python-check-mock-methods
  - id: python-use-type-annotations
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
  - id: text-unicode-replacement-char

# Check the reStructured Text files that make up
# this package's documentation.
# Commenting this out because https://github.com/Lucas-C/pre-commit-hooks-markup/issues/13
# - repo: https://github.com/Lucas-C/pre-commit-hooks-markup
#   rev: v1.0.1
#   hooks:
#   - id: rst-linter

# Check and prettify the configuration files.
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-ini
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix]
  # Commenting this out because https://github.com/pappasam/toml-sort/issues/11
  # - id: pretty-format-toml
  #   args: [--autofix]

# Check GitHub Actions workflow files.
- repo: https://github.com/Mateusz-Grzelinski/actionlint-py
  rev: v1.7.4.18
  hooks:
  - id: actionlint

# On push to the remote, run the unit tests.
- repo: local
  hooks:
  - id: pytest
    name: Run unit tests
    entry: pytest -c pyproject.toml --cov-config pyproject.toml src/package/ tests/ docs/
    language: python
    verbose: true
    always_run: true
    pass_filenames: false
    stages: [pre-push]
