recursive-include src/package *

exclude .gitignore .pre-commit-config.yaml
exclude CHANGELOG.md MANIFEST.in UPSTREAM_README.md UPSTREAM_CHANGELOG.md
exclude commitlint.rules.js mypy.ini pylintrc pyproject.toml tox.ini
recursive-exclude .github *
recursive-exclude docs *
recursive-exclude tests *
