# https://flit.pypa.io/en/latest/pyproject_toml.html
[build-system]
requires = ["flit_core >=3.2.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "package"
requires-python = ">=3.9"
authors = [{name = "Author", email = "author@email"}]
maintainers = [{name = "Maintainer", email = "maintainer@email"}]
dynamic = ["version", "description"]
license = {file = "LICENSE.md"}
readme = "README.md"
dependencies = []
keywords = []
classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "License :: OSI Approved :: MIT License",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[project.scripts]
something = "package.__main__:main"

[project.entry-points]

[project.optional-dependencies]
dev = [
    "flit >=3.2.0,<4",
    "hashin ==0.17.0",
    "mypy >=0.921,<=0.950",
    "pylint >=2.9.3,<=2.13.9",
]
docs = [
    "sphinx >=4.1.2,<=4.5.0",
]
hooks = [
    "pre-commit >=2.13.0,<=2.19.1",
]
test = [
    "hypothesis >=6.21.0,<=6.46.9",
    "pytest >=7.1.2,<8.0.0",
    "pytest-custom_exit_code ==0.3.0",
    "pytest-cov ==3.0.0",
    "pytest-env ==0.6.2",
]

[project.urls]
Homepage = "https://my.project/"
Changelog = "https://my.project/CHANGELOG"
Documentation = "https://my.project/docs/"
Issues = "https://my.project/issues"


# https://bandit.readthedocs.io/en/latest/config.html
# Skip test B101 because of issue https://github.com/PyCQA/bandit/issues/457
[tool.bandit]
tests = []
skips = ["B101"]


# https://github.com/psf/black#configuration
[tool.black]
line-length = 120


# https://github.com/pytest-dev/pytest-cov
# https://github.com/nedbat/coveragepy
[tool.coverage.report]
fail_under = 100
show_missing = true

[tool.coverage.run]
omit = [
    "*/package/__main__.py",
]


# https://pycqa.github.io/isort/
[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 120
skip_gitignore = true


# https://mypy.readthedocs.io/en/stable/config_file.html#using-a-pyproject-toml
[tool.mypy]
mypy_path = "src/package/:tests/"
# exclude=
show_error_codes = true
show_column_numbers = true
check_untyped_defs = true
incremental = false
strict_equality = true
warn_return_any = true
warn_redundant_casts = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
disable_error_code = []

[[tool.mypy.overrides]]
module = [
    "pytest.*",
]
ignore_missing_imports = true


# https://pylint.pycqa.org/en/latest/user_guide/configuration/index.html
[tool.pylint.MASTER]
fail-under = 10.0
disable = [
    "fixme",
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-boolean-expressions",
    "too-many-branches",
    "too-many-instance-attributes",
    "too-many-lines",
    "too-many-locals",
    "too-many-nested-blocks",
    "too-many-public-methods",
    "too-many-return-statements",
    "too-many-statements",
]

[tool.pylint.MISCELLANEOUS]
notes = [
    "FIXME",
    "TODO",
    "BUGBUG",
]

[tool.pylint.FORMAT]
max-line-length = 120


# https://docs.pytest.org/en/latest/reference/customize.html#configuration-file-formats
# https://docs.pytest.org/en/latest/reference/reference.html#configuration-options
# https://docs.pytest.org/en/latest/reference/reference.html#command-line-flags
[tool.pytest.ini_options]
minversion = "7.0"
addopts = "--verbose --doctest-modules -ra --cov package"  # Consider adding --pdb
doctest_optionflags = "IGNORE_EXCEPTION_DETAIL"
testpaths = [
    "tests",
]
env = []


# https://python-semantic-release.readthedocs.io/en/latest/
[tool.semantic_release]
branch = "main"
version_variable = "src/package/__init__.py:__version__"
upload_to_pypi = false
commit_subject = "bump: release v{version}"
changelog_file = "CHANGELOG.md"
build_command = "pip install 'flit >=3.2.0,<4' && flit build"
