# Automatically rebase one branch on top of another; usually staging on top
# of main after a new package version was published.

name: Rebase branch
on:
  workflow_call:
    inputs:
      to_head:
        type: string
        required: true
        description: Branch that is being rebased
      from_base:
        type: string
        required: true
        description: Base branch
      git_user_name:
        required: true
        type: string
        description: Name of the git user that rebases and pushes the to_head branch
      git_user_email:
        required: true
        type: string
        description: Email address of said git user
    secrets:
      REPO_ACCESS_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:

    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Check out repository
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      with:
        fetch-depth: 0
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        ref: ${{ github.ref_name }}

    - name: Do rebase
      run: |
        git config --global user.name "$USER_NAME"
        git config --global user.email "$USER_EMAIL"
        git checkout "$TO_HEAD"
        git rebase "$FROM_BASE"
        git push --force-with-lease
      env:
        USER_NAME: ${{ inputs.git_user_name }}
        USER_EMAIL: ${{ inputs.git_user_email }}
        TO_HEAD: ${{ inputs.to_head }}
        FROM_BASE: ${{ inputs.from_base }}
