# This reusable workflow publishes Markdown docs to Github Wiki. Some manual
# setup is required before using it: enable Wiki in repository and create at
# least one page.

name: Publish Github Wiki documentation
on:
  workflow_call:
    inputs:
      release_tag:
        required: true
        type: string
      release_url:
        required: true
        type: string
      artifact_name:
        required: true
        type: string
      git_user_name:
        required: true
        type: string
      git_user_email:
        required: true
        type: string
    secrets:
      REPO_ACCESS_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  publish-wiki:
    name: Publish Github Wiki
    if: github.event.repository.has_wiki == true
    runs-on: ubuntu-latest
    steps:

    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
        disable-sudo: true

    # Check out the repository's Wiki repo into the wiki/ folder. The token is required
    # only for private repositories.
    - name: Check out repository
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      with:
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        repository: ${{ format('{0}.wiki', github.repository) }}
        path: wiki

    # Download the build artifacts attached to this workflow run.
    - name: Download artifact
      uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
      with:
        name: ${{ inputs.artifact_name }}
        path: dist

    # Unpack the Markdown docs into the Wiki repository. Delete existing files first
    # to ensure that no stale files stay behind.
    - name: Copy Markdown documentation
      run: |
        mkdir docs/
        unzip -d docs/ "$(ls dist/*-docs-md.zip)"
        rm --recursive --force wiki/*
        cp --recursive --verbose --target-directory wiki/ docs/markdown/*

    # If there was any change to the Wiki then push the update.
    - name: Push to Wiki
      run: |
        cd wiki/
        if [ -n "$(git status --porcelain)" ]; then
          git add .
          git config --global user.name "$USER_NAME"
          git config --global user.email "$USER_EMAIL"
          git commit --message "$WIKI_COMMIT_MESSAGE"
          git push
        fi
      env:
        USER_NAME: ${{ inputs.git_user_name }}
        USER_EMAIL: ${{ inputs.git_user_email }}
        WIKI_COMMIT_MESSAGE: |
          docs: update for ${{ inputs.release_tag }}

          Link: ${{ inputs.release_url }}
