# When pushing to main, we run checks and then release.

name: Check and Release
on:
  push:
    branches:
    - main
jobs:
  check:
    name: Check Python ${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ['3.9', '3.10']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3.1.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: make setup
      env:
        PYTHON: python
    - name: Run checks
      run: make check
    - name: Run tests
      run: make test
  release:
    needs: check
    name: Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Python Semantic Release
      uses: relekang/python-semantic-release@v7.27.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pypi_token: ''  # We don't publish to PyPi: ${{ secrets.PYPI_TOKEN }}
