# When pushing to main, we run checks and then release.

name: Check and Release
on:
  push:
    branches:
    - main
permissions:
  contents: read

jobs:
  check:
    name: Check Python ${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ['3.9', '3.10']
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@248ae51c2e8cc9622ecf50685c8bf7150c6e8813
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28
    - name: Set up Python
      uses: actions/setup-python@d09bd5e6005b175076f227b13d9730d56e9dcfcb
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: make setup
      env:
        PYTHON: python
    - name: Run checks
      run: make check
    - name: Run tests
      run: make test
    - name: Build the package
      run: make dist
    - name: Build the docs
      run: make docs
  release:
    permissions:
      contents: write  # for relekang/python-semantic-release to push release notes and new commits/tags
    needs: check
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@248ae51c2e8cc9622ecf50685c8bf7150c6e8813
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
    - name: Checkout
      uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28
      with:
        # Private repos with protected branches may need to set that token to make the Action work. For a
        # discussion of this problem, see: https://github.com/relekang/python-semantic-release/issues/311
        token: ${{ secrets.GITHUB_TOKEN }}
        fetch-depth: 0
    - name: Python Semantic Release
      uses: relekang/python-semantic-release@595352a8fb97f219cb8362e2a13e4f59d8064aa0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pypi_token: ''  # We don't publish to PyPi: ${{ secrets.PYPI_TOKEN }}
