# This workflow will lint the PR's title and commit message.
# https://github.com/CondeNast/conventional-pull-request-action
# https://github.com/conventional-changelog/commitlint/blob/master/docs/reference-rules.md
# https://github.com/CondeNast/conventional-pull-request-action/issues/15

name: Pull Request
on:
  pull_request:
    branches: [main, staging]
    types:
    - opened
    - edited
    - synchronize
permissions:
  contents: read

jobs:
  pr:
    permissions:
      pull-requests: read  # for CondeNast/conventional-pull-request-action to get specific PR & list commits
    name: Lint PR title
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@248ae51c2e8cc9622ecf50685c8bf7150c6e8813
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28
    - uses: CondeNast/conventional-pull-request-action@eef02ae6e88e4b462f39931113b1a75cc275beee
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        commitlintRulesPath: ./commitlint.rules.js
        commitTitleMatch: 'true'
  check:
    needs: pr
    name: Check Python ${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ['3.9', '3.10']
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@248ae51c2e8cc9622ecf50685c8bf7150c6e8813
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@d0651293c4a5a52e711f25b41b05b2212f385d28
    - name: Set up Python
      uses: actions/setup-python@d09bd5e6005b175076f227b13d9730d56e9dcfcb
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: make setup
      env:
        PYTHON: python
    - name: Run checks
      run: make check
    - name: Run tests
      run: make test
